body {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
}


h3 a {
    color: #1E2E33;
}


p {
    font-family: "Roboto",Verdana, serif;
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 20px;
}
p {
    font-size: 14px;
}
